#games
    h1= 'Wähle ein bereits begonnenes Spiel'
    #running-games( ng-show = "games.length > 0" )
        .game( ng-repeat = "game in games" )
            .time
                a( href="", ng-click = "play(game.id)" ) {{game.started}}
    h5( ng-show = "games.length === 0" )= 'Du hast noch kein Spiel gestartet.'
    #new-game
        = '...oder starte eine neues'
        button( ng-click = "newGame()" ) +

